<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>pizzaRecipe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controllers.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyEmailServlet</display-name>
    <servlet-name>VerifyEmailServlet</servlet-name>
    <servlet-class>controllers.VerifyEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyEmailServlet</servlet-name>
    <url-pattern>/VerifyEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>controllers.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>controllers.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecetteServlet</display-name>
    <servlet-name>RecetteServlet</servlet-name>
    <servlet-class>controllers.RecetteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecetteServlet</servlet-name>
    <url-pattern>/RecetteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutRecetteServlet</display-name>
    <servlet-name>AjoutRecetteServlet</servlet-name>
    <servlet-class>controllers.AjoutRecetteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutRecetteServlet</servlet-name>
    <url-pattern>/AjoutRecetteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailRecipeServlet</display-name>
    <servlet-name>DetailRecipeServlet</servlet-name>
    <servlet-class>controllers.DetailRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailRecipeServlet</servlet-name>
    <url-pattern>/DetailRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>controllers.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierRecetteServlet</display-name>
    <servlet-name>ModifierRecetteServlet</servlet-name>
    <servlet-class>controllers.ModifierRecetteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierRecetteServlet</servlet-name>
    <url-pattern>/ModifierRecetteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerRecetteServlet</display-name>
    <servlet-name>SupprimerRecetteServlet</servlet-name>
    <servlet-class>controllers.SupprimerRecetteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerRecetteServlet</servlet-name>
    <url-pattern>/SupprimerRecetteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controllers.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>